.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* control sidenave width */
.sidenav {
    width: 150px;
}

.flash-message {
    background-color: cornflowerblue;
    color: black;
    font-size: 2rem;
    text-align: center;
}

