<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Wild Swimming</title>
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <!-- browser nav -->
                <div class="nav-wrapper blue-grey darken-3">
                    <a href="{{ url_for('home') }}" class="brand-logo left">Wild Swimmer</a>
                    <a href="{{ url_for('home') }}" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down nav-link">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('get_posts') }}">Blog</a></li>
                        <!-- dynamic sorting on to logged in and logged out -->
                        {% if session.user %}
                            <li><a href="{{ url_for('profile') }}" class="{% if request.path == '/profile' %}active{% endif %}">Profile</a></li>
                            <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('get_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- mobile nav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('get_posts') }}">Blog</a></li>
            <!-- dynamic sorting on to logged in and logged out -->
            {% if session.user %}
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('get_register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <section class="flash-message">
    <!-- display warning messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </section>

    <main>
        {% block addCont %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </main>
    <!-- <footer class="page-footer blue-grey darken-3">
        <div class="center">
            Fictional site created for educational purpose
        </div>
      </footer> -->
    <footer class="footer blue-grey darken-3">
        <div >
            <!-- Your footer content goes here -->
            <p class="helper">Fictional site created for educational purpose</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>