{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{url_for('create_post')}}">
        <div class="card-panel">
            <!-- title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user prefix"></i>
                    <input id="title" name="title" type="text" min="1" max="50" data-length="50" class="validate" value = "{{title_input}}" required>
                    <label for="title">Post title</label>
                    <p>(Minimum 1 and maximum 50 characters)</p>
                </div>
            </div>
            <!-- content  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-lock prefix"></i>
                    <textarea id="content" class="materialize-textarea validate" min="1" max="50" name="content" type="text" data-length="500" required>{{textarea_content}}</textarea>
                    <label for="content">Post content </label>
                    <p>(Minimum 1 and maximum 500 characters)</p>
                </div>
            </div>
            <!-- keywords  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="keywords" name="keywords" type="text" class="validate" required>
                    <label for="keywords">Tags (comma-separated)</label>
                    <p>(Add keywords that best describe the post, e.g. Lake Swimming)</p>
                </div>
            </div>
        </div>
        <!-- post -->
            <button type="submit" class="col s12 btn-large blue-grey darken-3 text-shadow">
                Post <i class="fa-solid fa-right-to-bracket"></i>
            </button>
    </form>   
</div>


{% endblock %}