{% extends "base.html" %}
{% block addCont %}
    <div class="contained-image" role="img" aria-label="Nature and Water Scene">
        {% block content %}
        <div class="wrapper">
            <div class="container1 hero-image">
                <div class="center">
                    <h1>Welcome to the hub for outdoor swimmers</h1>
                </div>
                <div class="row">
                    <div class="center-align cover">
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <div class="wrapper">
        <div class="container1 helper">
            <h2>Why are you here?</h2>
            <p>It's a digital haven for passionate wild swimmers! Our mission is to build a vibrant community of water enthusiasts who share a love for openwater swimming and the breathtaking places it takes us. Whether you're a seasoned swimmer or just dipping your toes into the world of wild swimming, this platform is your space to connect, share, and inspire.</p>
        </div>
        <div class="row">
            <div class="col s12 center">
                <a href="{{ url_for('get_posts') }}" role="link" aria-label="Go to blog page" class="read-blog btn-large btn2">
                    Read Blog  <i class="fa-brands fa-readme"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}






